<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="styles/main.css">
    <script src="js/prueba.js"></script>
</head>
<body>
    <div class="statsTables">
        <table >
            <thead>
                <th>Raza</th>
                <th>Inteligencia</th>
                <th>Poder</th>
                <th>Defensa</th>
                <th>Agilidad</th>
                <th>Puntos de Vida</th>
                <th>Sigilo</th>
                <th>Borrar Elemento</th>
            </thead>
            <tbody id="table">
            </tbody>
        </table>        
        <p>Ingresar un nuevo felino</p>    
        <form action="">
        <input id="raza" type="text" placeholder="Raza">        
        <input id="stats-int" type="number" placeholder="Inteligencia">        
        <input id="stats-poder" type="number" placeholder="Poder">        
        <input id="stats-def" type="number" placeholder="Defensa">       
        <input id="stats-agi" type="number" placeholder="Agilidad">        
        <input id="stats-pv" type="number" placeholder="Puntos de vida">        
        <input id="stats-sigilo" type="number" placeholder="Sigilo">
        <button id="btnAgregar">Agregar</button>
        <button id="btnAgregaRandom">Agregar Random x3</button>
        <button id ="btnBorrarTodos">Borrar Todos</button>
    </form>             
            
    </div>
    
</body>
</html>