<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atributos</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <div class="header" id="myHeader">
        <div class="leftHeader">
            <div class="logo">
                <img class="catbookslogo" src="images/catbook_logo.png" alt="logo de catbooks">
            </div>
            <div class="pageTitle">
                <h1>CatBooks</h1>
            </div>
        </div>
        <ul>
            <div class="navBar">
                <button class="button" type="button">
                    <li><a class="link" href="index.html">Home</a></li>
                    <button class="button" type="button">
                        <li><a class="link" href="atributos.html">Atributos</a></li>
                    </button>
                    <button class="button" type="button">
                        <li><a class="link" href="horoscopo.html">Horoscopo Gatuno</a></li>
                    </button>
            </div>
        </ul>
    </div>
    <div class="statsContent">
        <div class="statsImg">
            <img class="estadisticas" src="images/stats de gato1.jpg" alt="stadisticas">
            <img class="estadisticas" src="images/stats de gato2.jpg" alt="stadisticas">
            <img class="estadisticas" src="images/stats de gato3.jpg" alt="stadisticas">
            <img class="estadisticas" src="images/stats de gato4.jpg" alt="stadisticas">
            <img class="estadisticas" src="images/stats de gato5.jpg" alt="stadisticas">
        </div>
        <div class="statsTables">
            <table>
                <tr>
                    <th>Abisinio</th>
                    <th>Stats (0-100)</th>
                </tr>
                <tr>
                    <td>Inteligencia</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>Poder</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Defensa</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>Agilidad</td>
                    <td>95</td>
                </tr>
                <tr>
                    <td>Puntos de vida</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>Sigilo</td>
                    <td>50</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>American</th>
                    <th>Stats (0-100)</th>
                </tr>
                <tr>
                    <td>Inteligencia</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Poder</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Defensa</td>
                    <td>46</td>
                </tr>
                <tr>
                    <td>Agilidad</td>
                    <td>55</td>
                </tr>
                <tr>
                    <td>Puntos de vida</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Sigilo</td>
                    <td>75</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Bombay</th>
                    <th>Stats (0-100)</th>
                </tr>
                <tr>
                    <td>Inteligencia</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Poder</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>Defensa</td>
                    <td>55</td>
                </tr>
                <tr>
                    <td>Agilidad</td>
                    <td>57</td>
                </tr>
                <tr>
                    <td>Puntos de vida</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Sigilo</td>
                    <td>57</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Himalayo</th>
                    <th>Stats (0-100)</th>
                </tr>
                <tr>
                    <td>Inteligencia</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Poder</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>Defensa</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Agilidad</td>
                    <td>57</td>
                </tr>
                <tr>
                    <td>Puntos de vida</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Sigilo</td>
                    <td>63</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Mestizo</th>
                    <th>Stats (0-100)</th>
                </tr>
                <tr>
                    <td>Inteligencia</td>
                    <td>55</td>
                </tr>
                <tr>
                    <td>Poder</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>Defensa</td>
                    <td>55</td>
                </tr>
                <tr>
                    <td>Agilidad</td>
                    <td>75</td>
                </tr>
                <tr>
                    <td>Puntos de vida</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>Sigilo</td>
                    <td>85</td>
                </tr>
            </table>
        </div>
        <div class="statsCats">
            <img class="estadisticas" src="images/Abisino.jpg" alt="stadisticas">
            <img class="estadisticas" src="images/American Curl.jpg" alt="stadisticas">
            <img class="estadisticas" src="images/Bombay.jpg" alt="stadisticas">
            <img class="estadisticas" src="images/himalayo.jpg" alt="stadisticas">
            <img class="estadisticas" src="images/mestizo.jpg" alt="stadisticas">


        </div>
    </div>
    <div class="footer">
        <h3 class="h3defoot">CatBooks</h4>
    </div>
    <script src="js/main.js"></script>
</body>

</html>