<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horoscopo</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <div class="header" id="myHeader">
        <div class="leftHeader">
            <div class="logo">
                <img class="catbookslogo" src="images/catbook_logo.png" alt="logo de catbooks">
            </div>
            <div class="pageTitle">
                <h1>CatBooks</h1>
            </div>
        </div>
        <ul>
            <div class="navBar">
                <button class="button" type="button">
                    <li><a class="link" href="index.html">Home</a></li>
                    <button class="button" type="button">
                        <li><a class="link" href="atributos.html">Atributos</a></li>
                    </button>
                    <button class="button" type="button">
                        <li><a class="link" href="horoscopo.html">Horoscopo Gatuno</a></li>
                    </button>
            </div>
        </ul>
    </div>
    <div class="horoscopo_content">
        <h2>Horoscopo Gaturrrno Hoy</h2>
        <div class="simbolo_horoscopo"><img src="images/aries.jpg" alt="Simbolo de Aries">
            <h3>Aries:</h3>
            <p> (21/03-20/04) El gato Aries es travieso a más no poder y difícilmente se someterá a tus reglas. Le encanta dormir a
                ratos en un sillón, luego en la habitación, la cocina o el baño. Es celoso, y si está enojado, no
                vacilará en darte un zarpazo cuando pase a tu lado. No admite rivales en la misma casa y mucho menos si
                se trata de perros o pajaritos, porque les hará la guerra y se las ingeniará para echarles la culpa de
                los destrozos que encuentres. Es vanidoso a más no poder, y si le haces demasiado caso, te convertirá en
                esclavo de sus gustos.</p>
        </div>
        <div class="simbolo_horoscopo"><img src="images/tauro.jpg" alt="Simbolo de Tauro">
            <h3>Tauro:</h3>
            <p> (21/04-20-05) El gatito Tauro, regordete, de pelo abundante y dulce ronroneo, se dejará cargar en los brazos o te
                saltará al regazo con tal de ser mimado y acariciado. Es pacífico, cariñoso y muy casero. Pero si se
                enoja, también suelta arañazos. Es muy glotón, y si te descuidas, meterá la pata en tu plato o al de las
                visitas. Es empecinado y se ganará la buena voluntad de todos los de la casa, aunque pertenezcan a un
                signo contrario. Hará lo que sea con tal de tener comodidad y su futuro asegurado.</p>
        </div>
        <div class="simbolo_horoscopo"><img src="images/geminis.jpg" alt="Simbolo de Geminis">
            <h3>Gemínis:</h3>
            <p> (21/05-20/06) El gato Géminis es curioso, tragón, distraído y parrandero, y tendrás que curarlo siempre que llegue
                apaleado. Es muy capaz de llevarte a su amor en cuanto te des cuenta. El mejor consejo que podemos darte
                es que lo esterilices, sobre todo si es hembra, o te llenará la casa de gatitos y tendrás que ir de
                puesta en puerta para buscarles casa o acomodo. Es libertino porque le gusta mordisquear y jugar con
                todo lo que encuentra. Como le crecen mucho las uñas, habrá que recortárselas constantemente, y tenerle
                algo especial dónde se las afile o lo hará en todos los muebles y tapices de su casa.</p>
        </div>
        <div class="simbolo_horoscopo"><img src="images/cancer.jpg" alt="Simbolo de Cancer">
            <h3>Cancer:</h3>
            <p> (21/06-20/07) Es el lunático del zodiaco y cariñoso como pocos, aunque al día siguiente te ignore olímpicamente. Es muy
                susceptible y no soporta bromas. Tampoco le gustan las visitas y si puede, las arañará cuando tu no lo
                veas. Le encanta dormir en cajones, alacenas, armarios y librerías. Si está de humor, acudirá a tu
                llamada, si no, tardarás horas en encontrarlo; le hace feliz el hecho de que lo busques y te preocupes
                por su pequeña personita. Le gusta oír música, radio o televisión, siempre y cuando no estorbe su sueño
                ni se le quite de su lugar favorito que, por lo regular, suele ser el más cómodo de la casa.</p>
        </div>
        <div class="simbolo_horoscopo"><img src="images/leo.jpg" alt="Simbolo de Leo">
            <h3>Leo:</h3>
            <p> (21/07-20/08) Es el gato más vanidoso y pagado de sí mismo. Su andar es elegante y altivo. Si es parrandero, será el
                guía o líder de los del barrio. Alegre y pendenciero, buscará la forma de hacerse notar. Y cuidado
                cuando anda en busca de compañera, porque sus maullidos son insoportables. Así que indaga con tu
                veterinario cuál es el mejor calmante o te hará pasar, junto con él, las noches en vela. Le gusta todo
                lo que brilla y prefiere los cojines de seda y las cortinas o colchas de terciopelo, para afilar sus
                uñas o trepar por ellas.</p>
        </div>
        <div class="simbolo_horoscopo"><img src="images/virgo.jpg" alt="Simbolo de Virgo">
            <h3>Virgo:</h3>
            <p> (22/08-22/09)Es dulce, quisquilloso para la comida, y pasa mucho tiempo en su arreglo personal limpiándose con su
                patita la cara y los bigotes, porque odia estar sucio. Cepíllalo seguido, aunque sea de pelo corto. Es
                inteligente y muy convenenciero. Si sabe que ganará una recompensa, hará pipí donde debe y acudirá
                cuando lo llames. Si no es así, le importará un comino. Dicen que es un gran pensador y, por lo mismo,
                no se expondrá a peligros innecesarios. Es un gatito muy sano, pero no le gustan los niños y se pondrá
                celoso de cualquier persona o cosa a la que tu prestes atención. Exigirá ser el primero a quien tu
                atiendas. Es muy friolero y andará buscando un rayito de sol o dormirá a pierna suelta frente al
                calentador, chimenea o por lo menos el fogón.</p>
        </div>
        <div class="simbolo_horoscopo"><img src="images/libra.jpg" alt="Simbolo de Libra">
            <h3>Libra:</h3>
            <p> (23/09-22/10) Es sofisticado, elegante, y ama, por sobre las cosas, la comodidad, así que si te descuidas te ganará tu
                sillón favorito. Se cree lo máximo, aunque sea de uno o de tres colores. Si lo amas, házle creer que es
                de raza fina y trátalo con comedimiento. Es cariñoso y agradecido si se le da una buena comida. Si de
                plano es muy corriente, aunque sea pónle un nombre rimbombante para que se sienta mejor. De una vez te
                decimos que no le gustan los alimentos enlatados y arrugará la nariz si se te ocurre darle carne con
                demasiada grasa. Es el intelectual del zodiaco, le gusta dormir sobre los libros, le fascina la música
                clásica y que lo tengas bien informado de todos los chismes y noticias del vecindario. Si no le diriges
                la palabra y le hablas, se sentirá muy desgraciado.</p>
        </div>
        <div class="simbolo_horoscopo"><img src="images/escorpio.jpg" alt="Simbolo de Escorpio">
            <h3>Escorpio:</h3>
            <p> (23/10-22/11) Es el deportista, el cazador de ratones y mariposas, el que trepa por las cortinas y anda por las
                cornisas sin medir el peligro, el que arranca las flores de las macetas o se hace pipí en ellas.
                Necesitas quererlo mucho para poder soportarlo, porque rompe todo lo que encuentra. Es celoso y
                pendenciero. Le encanta espiar por las ventanas, escudriñar todo lo que tiene en su ropero, meterse en
                las bolsas de mano y las del mercado, y hasta en las maletas si sospecha que vas a dejarlo y salir de
                viaje. En ocasiones es meloso, encantador, melindroso y grosero.</p>
        </div>
        <div class="simbolo_horoscopo"><img src="images/sagitario.jpg" alt="Simbolo de Sagitario">
            <h3>Sagitario:</h3>
            <p> (23/11-20/12) Es un coqueto incorregible, y no sólo con las gatitas, sino con la gente que le cae bien. Es un payaso,
                y si le prestas atención, mucho más. Es un compañerito glotón y el mejor lavaplatos que existe. Su
                alegría y sus juegos los comparte con su amo. Le encanta todo lo nuevo, viajar en el asiento trasero de
                tu coche, las casas o los departamentos nuevos. Hace amistad con las personas que tu odias y le importa
                un bledo si te enojas, porque sabe cómo contentarte después. Le gusta la calle, las azoteas, los
                jardines, los grandes espacios, que le cuenten cuentos, que le digan que es el más bonito y bueno. Todo
                se lo cree, porque es muy vanidoso, no cuesta demasiado tenerlo contento.</p>
        </div>
        <div class="simbolo_horoscopo"><img src="images/capricornio.jpg" alt="Simbolo de Capricornio">
            <h3>Capricornio:</h3>
            <p> (21/12-19/01) Es un gato tranquilo y reservado, le gusta que lo traten bien y paga con cariño. Si tu trabajas de noche,
                te acompañará y observará muy atento. Házle creer que eres famoso e importante y te adorará. Es
                terriblemente jactancioso y le gustan las caricias. Se portará bien con tal de que lo achuches y le
                atiendas sus gustos. Es de los pocos gatitos que prestan atención a lo que sucede en el televisor, y
                hasta parece que entiende la trama de las telenovelas, sigue con gusto los pasos de los bailarines y
                también le agradan los deportes y los noticiarios. Aunque ya esté viejo, seguirá jugando con bolitas de
                papel, listones y todo lo que encuentre.</p>
        </div>
        <div class="simbolo_horoscopo"><img src="images/acuario.jpg" alt="Simbolo de Acuario">
            <h3>Acuario:</h3>
            <p> (20/01-18/02) Es tierno y afectuoso, independiente y vanidoso. Se cree muy importante y exige buena comida. ¡Cuidadito
                con darle sobras! Cómprale galletitas de falluca, sardinas, filete y un buen postre, y lo tendrás feliz.
                Si no le gusta lo que le dan, hará huelga de hambre. También es muy conveniente, y si piensa que vivirá
                mejor con el vecino, se irá sin ningún miramiento y sin escuchar tus ruegos para que no te abandone.
                Pero también es sentimental, y si aprendes a manejar su punto débil, lo tendrás siempre a tu lado,
                ronroneando y pavoneándose frente tuyo para que lo admires y así ganarse cada vez más tu afecto. Tal vez
                sea el único que admita tener otro gato como compañero, o un perro, si le aseguras y repites seguido que
                él es el único y el preferido de tu corazón.</p>
        </div>
        <div class="simbolo_horoscopo"><img src="images/piscis.jpg" alt="Simbolo de Piscis">
            <h3>Piscis:</h3>
            <p> (19/02-20/03) Este gatito es melindroso, dramático y muy travieso. Es el incomprendido del zodiaco y se las ingeniará
                para que se le prestes la mayor atención posible. En ocasiones recurrirá al engaño, haciéndote creer que
                se ha lastimado una patita y que no puede caminar, para que lo mimes y acaricies o lleves de volada al
                veterinario, aunque para cuando llegue ya estará totalmente curado. A pesar de ser carnívoro, come
                flores, mastica papel, se come la goma de los lápices y hasta las pinturas de labios. Le encanta el
                cariño e insiste en dormir contigo o al pie de tu cama. Dicen que los gatos fascinan... así que evita
                verlo directamente a los ojos o quedarás atrapado por su magnetismo</p>
        </div>
    </div>
    <div class="footer">
        <h3 class="h3defoot">CatBooks</h4>
    </div>
    <script src="js/main.js"></script>

</body>

</html>